Body { 
    Font-family: Arial, sans-serif; 
    Text-align: center; 
}
Header { 
    Background-color: black; 
    Color: white; 
    Padding: 20px; 
} 
H1 { 
    Font-size: 36px; 
} 
Main { 
    Margin: 20px auto; 
    Width: 300px; 
} 
.caixa { 
    Background-color: rgba(0, 122, 204, 0.8); /* Cor de fundo das caixas com transparência */ 
    Margin: 10px auto; 
    Padding: 20px; 
    Border-radius: 10px; /* Borda arredondada */ 
} 
.botao { 
    Display: block; 
    Width: 100%; 
    Height: 50px; 
    Background-color: #007acc; 
    Color: white; 
    Text-align: center; 
    Line-height: 50px; 
    Text-decoration: none; 
    Font-size: 18px; 
    Border: none; 
} 
.botao:hover { 
    Background-color: #005fa3; 
} 